/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-afa154fb2d4c0fc52cba.json
/cmake-build-debug/CMakeFiles/clox.dir/chunk.c.o
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/clion-log.txt
/cmake-build-debug/clox
/.idea/clox.iml
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.o
/cmake-build-debug/CMakeFiles/3.22.3/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/CMakeError.log
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-c6508863d2fab8c044b1.json
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.22.3/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2d38997874b9b620325d.json
/cmake-build-debug/CMakeFiles/clox.dir/debug.c.o
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/.idea/encodings.xml
/cmake-build-debug/.cmake/api/v1/reply/index-2022-07-05T07-18-59-0748.json
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/CMakeFiles/clox.dir/main.c.o
/cmake-build-debug/CMakeFiles/clox.dir/memory.c.o
/.idea/misc.xml
/.idea/modules.xml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/.cmake/api/v1/reply/target-clox-Debug-2ef9baa994aae86311aa.json
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-37b208d87cd22233f786.json
/cmake-build-debug/CMakeFiles/clox.dir/value.c.o
/cmake-build-debug/CMakeFiles/3.22.3/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.22.3/CMakeCCompiler.cmake
/.idea/vcs.xml
